<!-- As a heading -->
<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Taxistas</span>
</nav>

<div class="row p-3">
  
  <div class="col-8">
    <h3>Mapa <small *ngIf="siguiendoNombre" > {{ siguiendoNombre }} </small></h3>

    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="12">
      <agm-marker *ngFor="let taxista of taxistas" [latitude]="taxista.lat" [longitude]="taxista.lng">
          <agm-info-window>{{ taxista.nombre }}</agm-info-window>
      </agm-marker>      
    </agm-map>

  </div>

  <div class="col-4">
    <h3>Taxistas</h3>

    <div class="list-group">
      <a href="#" (click)="seguir(taxista)"  class="list-group-item list-group-item-action" *ngFor="let taxista of taxistas"> <!-- con async no es necesario hacer unsubscribe -->
        {{ taxista.nombre }}
      </a>      
    </div>

    <br>

    <button type="button" class="btn btn-primary btn-lg btn-block" *ngIf="siguiendoNombre" (click)="dejarDeSeguir()"> Dejar de seguir</button>
    
  </div>
</div>

